{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- End Header Area -->
{% block content %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>KARMA</h1>
                    <nav class="d-flex align-items-center">
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                        <div class="hover">
                            <h4>Впервые в нашем магазине?</h4>
                            <p>Тогда давайте скорее создадим вам аккаунт</p>
                            <a class="primary-btn" href="{% url 'registration' %}">Регестрация</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3 class="mt-5">Авторизация</h3>
                        {{ form.non_field_errors }}
                        {{ form.subject.errors }}
                        <form class="row login_form" action="{% url 'login' %}" method="POST" id="contactForm"
                              novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-12 form-group">
                                {{ form.username }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ form.password }}
                            </div>

                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Авторизоваться</button>
                                <a href="#">Забыли пароль ?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->

{% endblock %}